#root,
.PokeCard {
  display: flex;
}

#root {
  flex-wrap: wrap;
}

.PokeCard {
  height: 150px;
  width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  margin: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.PokeCard.dragon,
.PokeCard.grass,
.PokeCard.poison,
.PokeCard.ground,
.PokeCard.fighting,
.PokeCard.psychic,
.PokeCard.dark {
  color: white;
}
.PokeCard.grass {
  background-color: green;
}
.PokeCard.bug {
  background-color: greenyellow;
}
.PokeCard.water {
  background-color: aqua;
}
.PokeCard.fire {
  background-color: salmon;
}
.PokeCard.normal {
  background-color: lightgray;
}
.PokeCard.poison {
  background-color: blueviolet;
}
.PokeCard.electric {
  background-color: yellow;
}
.PokeCard.ground {
  background-color: burlywood;
}
.PokeCard.fairy {
  background-color: pink;
}
.PokeCard.fighting {
  background-color: brown;
}
.PokeCard.psychic {
  background-color: purple;
}
.PokeCard.rock {
  background-color: saddlebrown;
}
.PokeCard.ghost {
  background-color: plum;
}
.PokeCard.ice {
  background-color: lightblue;
}
.PokeCard.dragon {
  background-color: red;
}
.PokeCard.dark {
  background-color: black;
}
.PokeCard.steel {
  background-color: whitesmoke;
}
